<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <title>Server error</title>
</head>
<body>
<div class="mainbox">
    <div class="err">5</div>
    <i class="far fa-frown fa-spin"></i>
    <div class="err2">0</div>
    <div class="msg">We are not quite sure what went wrong, but we will figure it out!
        <p>Let's go back <a th:href="@{/}">home</a></p></div>
</div>
</body>
</html>